[submodule "modules/photoviewer"]
	path = modules/photoviewer
	url = https://github.com/OzoneApps/frameworks_photoviewer
[submodule "modules/chips"]
	path = modules/chips
	url = https://github.com/OzoneApps/frameworks_chips
[submodule "modules/colorpicker"]
	path = modules/colorpicker
	url = https://github.com/OzoneApps/frameworks_colorpicker
